<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="true"
               [style.width]="sidenavExpanded ? '240px' : '64px'"
               class="sidenav">

    <div class="logo-section" [class.collapsed]="!sidenavExpanded">
      <span class="material-icons logo-icon">school</span>
      <span class="logo-text" [class.hidden]="!sidenavExpanded">Studentske prakse</span>
    </div>

    <mat-nav-list>
      <a mat-list-item
         *ngFor="let item of navItems"
         [routerLink]="item.path"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: item.exact}"
         [matTooltip]="!sidenavExpanded ? item.label : ''"
         matTooltipPosition="right"
         class="nav-item">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="nav-label" [class.hidden]="!sidenavExpanded">{{ item.label }}</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content [style.margin-left]="sidenavExpanded ? '240px' : '64px'">
    <mat-toolbar class="toolbar">
      <button mat-icon-button class="toggle-btn" (click)="toggleSidenav()">
        <mat-icon>{{ sidenavExpanded ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <span class="username">{{ username }}</span>
      <button mat-icon-button (click)="logout()" title="Odjava">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>